.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  gap: 12px;
  padding: 12px;
  box-sizing: border-box;
}

.top {
  display: flex;
  flex-direction: row;
  height: 50%;
  gap: 12px;
}
